/* CSS Document */
body
{
	background:#E4E4E4 url('/images/home/boby.jpg') repeat-x;
	color:#7F7F7F;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

a {
	color:#CDCDB4;
}

a:hover {
	text-decoration:none;
}
.bibau
{
	font-size:16px;
	font-family: 'Pattaya', sans-serif;
	text-transform:uppercase;
}
.bibau1
{
	font-size:16px;
	font-family: 'Pattaya', sans-serif;
	text-transform:uppercase;
	color: black;
}
.bibau2
{
	color: black;
}

.clear
{
	margin:0px;
	padding:0px;
	clear:both;
}
#wrapper
{
	width:946px;
	margin:0 auto;
	background:url('/images/home/nenweb.jpg');
}
.headerzone
{
	width:946px;
	background:url('/images/home/logobia.png');
}

.header {
	height:87px;
}
.header.rightheader{
	margin: right;
  float: right;
}
}
.header-top {
    background: #1565c0;
   padding: .7em 0;
 }
.top-right ul li {
    display: inline-block;
    padding: 0em 1em;
}
.top-right ul li a {
    font-size: 1em;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.top-right ul li.text a {
  color:#fff;
}
.top-right {
    float: right;
    padding: 20px 0px 0px 0px;
}
.headerText
{
	width:200px;
	float:left;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding:26px 0px 0px 194px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/*	Menu Style End here */
.banner
{	max-width:946px;
	height:400px;
	background:url(../images/banner.gif);
	position: relative;
	margin:20px 0px 0px 0px;

}

h2
{
	margin:0px;
	padding:0px;
	color:#3D3D3D;
	font-style:italic;
	font-size:22px;
}
h1
{
	margin:0px;
	padding:0px 0px 0px 0px;
	color:#3D3D3D;
	font:20px Arial Black, Arial, Helvetica, sans-serif
}
.button
{
	text-align:left;
	margin:12px 0px 0px 0px;
}

.workZone
{
	width:946px;
	margin:0px;
	padding:0px;
}

.buybutton {
	padding:10px 0px 0px 5px;
}

.midBox
{
	background:url('/images/home/containermid.jpg') left top repeat-y;
	float:left;
}
.topBox
{
	background:url('/images/home/containertop.jpg') left top no-repeat;
	float:left;
}
.bottomBox
{
	background:url('/images/home/containerbottom.jpg') left bottom no-repeat;
	float:left;
}
.workZoneRight
{
	 
	float:right;
}
.leftBox
{
	width:296px;
	float:left;
}
.rightBox
{
	width:610px;
	margin:20px 30px 0px 10px;
	padding:0px 0px 50px 0px;
	border-bottom:#999999 1px solid;
}

.rightBox.inner{border:none}


.rightBox2
{
	width:610px;
	
	margin:0px 30px 0px 10px;
	padding:0px 0px 50px 0px;
}
.box1
{
	padding:20px 0px 10px 20px;
}
.leftTexttitle
{
	width:130px;
	float:left;
	font-size:16px;
	font-weight:bold;
	color:#3D3D3D;
	font-family: 'Pattaya', sans-serif;
	text-transform:uppercase;
}
.leftText
{
	width:230px;
	float:left;
	padding:10px 0px 0px 10px;
}
a.lefText
{
	color:#646464;
	font-weight:bold;
}
.box2
{
	padding:0px 20px 20px 30px;
}
.whiteText
{
    width:200px;
	padding:0px 0px 0px 0px;
	color:#FFFFFF;
	font-weight:bold;
}
.cdBox
{
	width:80px;
	height:78px;
	float:left;
	padding:10px 0px 0px 0px;
}
.leftText
{
	width:200px;
	float:left;
	padding:10px 0px 0px 10px;
}
.box3
{
	padding:0px 20px 20px 30px;
}
.whiteText
{
    width:200px;
	padding:0px 0px 0px 0px;
	color:#FFFFFF;
	font-weight:bold;
}
.cdBox
{
	width:80px;
	height:78px;
	float:left;
	padding:10px 0px 0px 0px;
}
.leftText
{
	width:200px;
	float:left;
	padding:10px 0px 0px 10px;
}
.boldText
{
	color:#646464;
	font-weight:bold;
}
.tunesBox
{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:400px;
	float:left;
}
.downloadText
{
	width:400px;
	color:#ADADAD;
	padding:10px 0px 10px 0px;
	text-align:justify;
	font-weight:bold;
}
.rightCd
{
	margin:0px;
	padding:20px 0px 0px 0px;
	width:200px;
	float:right;
}
.productContainer
{
	margin-top:20px;
}
.pic1
{
	width:97px;
	height:227px;
	float:left;
	padding:0px 10px 0px 0px;
	border-right:1px #CCCCCC solid;
}
.pic2
{
	width:204px;
	height:227px;
	float:left;
	padding:1px 0px 0px 0px;
	border-right:1px #CCCCCC solid;
}
.pic3
{
	width:142px;
	height:227px;
	float:left;
	padding:0px 5px 0px 0px;
	border-right:1px #CCCCCC solid;
}
.pic4
{
	width:142px;
	height:227px;
	float:left;
	padding:0px 0px 0px 0px;
}
.picText1
{
	border-top:1px #CCCCCC solid;
	padding:10px 0px 10px 0px;
	text-align:center;
}
.picText2
{
	border-top:1px #CCCCCC solid;
	padding:10px 0px 10px 0px;
	text-align:center;
}
.picText3
{
	border-top:1px #CCCCCC solid;
	padding:10px 0px 10px 0px;
	text-align:center;
}
.picText4
{
	border-top:1px #CCCCCC solid;
	padding:10px 0px 10px 0px;
	text-align:center;
}
/*under banner*/
.glyphicon { margin-right:5px; }
.notifi
{
  width:946px;
  background: white;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.lead
{
	color:red;
}
.pretty-box:hover {	
	border:1px solid #556074 !important;
	-moz-box-shadow:0 0px 3px #e7e7e7;
	box-shadow: 0 0px 3px #e7e7e7;
	-webkit-box-shadow: 0 0px 3px #e7e7e7;
	-o-box-shadow: 0 1px 3px #e7e7e7;
}

/*footer*/
.footer
{
	width:946px;
	height:88px;
	background:url('/images/home/footer.gif') no-repeat;
	padding:30px 0px 0px 0px;
	margin:20px 0px 0px 0px;
}
.footer ul
{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px; text-align:center;
}
.footer li
{
	display:inline;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px; border-left:1px solid #c2c2c2;
}

.footer li.first{border:none}

.footer li a
{
	color:#C2C2C2;
	font-weight:bold;
	font-size:12px;
	padding:0px 5px 0px 5px;
	text-decoration:none;
}
.footer li a:hover{color:#FFFFFF;}
.footer li a.current{color:#FFFFFF;}
.line
{
	color:#C2C2C2;
}


#products{
float:left;
}
.product{
width:213px;
border:1px solid #BBBBBB;
margin:10px 0 0 0;
float:left;
}
.product p{
display:block;
line-height:23px;
background-color:#F4F8EE;
padding:0 0 0 10px;
float:left;
width:149px;
}
.priceproduct{
display:block;
width:54px;
float:left;
background-color:#3792AE;
text-align:center;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#FFFFFF;
font-weight:bold;
line-height:23px;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 400px;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6 {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('/images/home/slide1.jpg');
}
.fade-carousel .slides .slide-2 {
  background-image: url('/images/home/slide2.jpg');
}
.fade-carousel .slides .slide-3 {
  background-image: url('/images/home/slide3.jpg');
}
.fade-carousel .slides .slide-4 {
  background-image: url('/images/home/slide4.jpg');
}
.fade-carousel .slides .slide-5 {
  background-image: url('/images/home/slide5.jpg');
}
.fade-carousel .slides .slide-6 {
  background-image: url('/images/home/slide6.jpg');
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
/******************************************************/
/*****              CART                               */
.cart-box{
     position: fixed;
  top: 40px;
  right: 60px;
  width: 60px;
  height: 50px;
  z-index: 2147483000;
  cursor: pointer;
  background-position: 100%;
}


/*        CART PAGE                 */
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
    background: white;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  
  
  
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
  
}


.workZoneRightCart
{
   
  float:right;
}
.leftBoxCart
{
  width:460px;
  float:left;
}
.rightBoxCart
{
  width:460px;
  margin:20px 30px 0px 10px;
  padding:0px 0px 50px 0px;
  border-bottom:#999999 1px solid;
}
.rightBoxCart.inner{border:none}
/***************************************************
                     DETAILS                        */
/*****************globals*************/

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
@media screen and (max-width: 946px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
.menu-items
{
	list-style-type:none;
	font-size:11px;
	display:inline-flex;
	margin-bottom:0;
	margin-top:20px;
}
/**************************************/
.thongtin
{
  height: 400px;
}
section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}




/* inner pages css start */
h1.inner{font:20px tahoma, Arial; color:#000; font-weight:100; margin:0px; padding:8px 0px 10px 0; text-decoration:none}
h1.inner span{font:24px tahoma, Arial; color:#000; font-weight:100; margin:0px; padding:25px 0px 10px 0px; background:none}
.aboutus-img{float:right; border:4px solid #dcdcda;	margin:0px 0px 10px 20px;}
h5{font:15px Myriad Pro, Arial, Helvetica, sans-serif; color:#000; font-weight:100; padding:0px 0px 5px 0px;	border-bottom:1px dotted #000;	margin:0px 0px 10px 0px; background:none }
h6.inner{font:17px Myriad Pro, Arial, Helvetica, sans-serif; color:#000; font-weight:100; padding:0px 0px 5px 0px;	margin:0px 0px 0px 0px; background:none }
.aboutcolumnzone{padding:20px 0px 16px 0px;}
.aboutcolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.aboutcolumn2{width:48%; float:right; margin:0px 0px 10px 0px;}
.abouticon{float:left; margin:0px 20px 0px 0px;}
.insidereadmore{padding:10px 0px 10px 0px;}
.insidereadmore a{color:#5D2D23; font-size:14px; text-decoration:none}
.insidereadmore a:hover{text-decoration:underline}

a.projects{color:#5D2D23; font-size:14px; text-decoration:underline}
a:hover.projects{text-decoration:none}

input.button{color:#ffffff;	background:#414141;	font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 10px; margin:0px 5px 5px 0;	border:1px solid #000;}
input.button:hover{cursor:pointer; color:#cccccc;}
.project-img{float:right; margin-left:20px;	border: 6px solid #dcdcda;}
.whiteheading{font:30px Myriad Pro, Arial; color:#000; font-weight:100;	padding:0px; margin:25px 0px 20px 0px;}
.ourprojectrow{margin-bottom:20px; border-bottom:1px dotted #000; padding-bottom:10px;}
.servicecolumnzone{padding:20px 0px 16px 0px;}
.servicecolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.servicecolumn2{width:48%; float:right;	margin:0px 0px 10px 0px;}
.blog-posted-row{padding:3px; background:#dcdcda}

.blog-posted-row a{color:#5D2D23; font-size:14px; text-decoration:underline; padding:0 0 0 8px}
.blog-posted-row a:hover{text-decoration:none}
/* inner pages css ends */